<div class="container">
    <div class="card">
      <div class="card-header">
        <div class="avatar">
          <img
          [src]="(userInfo$ | async).avatar_url"
          />
        </div>

        <h1 class="profile-name">
          {{(userInfo$ | async).name}}
        </h1>
        <h4>
          {{(userInfo$ | async).bio}}
        </h4>
        {{(userInfo$ | async).location}}
         <a class="profile-blog" href="{{(userInfo$ | async).blog}}">Linkedin</a>
      </div>
    </div>
  </div>
